{% extends 'base.html' %}
{% block title %}Добавление темы{% endblock %}
{% block header %}
<h1>Добавление темы</h1>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages(request) %}
<div class="{{ message.category }}" role="alert">{{ message.message }}</div>
{% endfor %}

<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <form action="{% block form_url %} {{ url_for('add_theme') }} {% endblock %}" role="form"
              class="form-horizontal" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Название темы</label>
                <input type="text" class="form-control" id="name" name="name"
                       value="{% if theme is defined %} {{ theme.name }} {% endif %}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea class="form-control" id="description" name="description"
                          placeholder="Расскажите подробнее о данной тематике..."
                          required> {% if theme is defined %} {{ theme.description }} {% endif %}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">{% block btn_name %} Добавить {% endblock %}</button>
        </form>
    </div>
</div>

<style>
    .btn-circle {
        width: 38px;
        height: 38px;
        border-radius: 19px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
</style>

<a href="{{url_for('view_themes')}}" style="padding-top: 10px">
    <button type="submit"
            class="btn btn-circle btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </button>
</a>
{% endblock %}
