{% extends 'base.html' %}
{% block title %}Добавить участника{% endblock %}
{% block header %}
<h1>Добавить участника</h1>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages(request) %}
<div class="{{ message.category }}" role="alert">{{ message.message }}</div>
{% endfor %}

<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <h5>Автор: {{board.author.username}}</h5>
        <h5>Дата создания: {{board.date_created}}</h5>
    </div>
</div>
{% if user.id == board.author_id %}
<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <form action="{{url_for('add_collaborator', board_id=board.id)}}" class="form-horizontal" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>

            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
{% endif %}
<style>
    .btn-circle {
        width: 38px;
        height: 38px;
        border-radius: 19px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
</style>
<a href="{{url_for('view_board', id=board.id)}}" style="padding-top: 10px;">
    <button type="submit"
            class="btn btn-circle btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </button>
</a>

<div class="card border-primary mb-3" style="width: 22rem; margin-top: 10px">
    <div class="card-body">
        <p>Соучастники доски</p>
        <ul class="list-group list-group-flush">
            {% for collab in board.collaborators %}
            <li class="list-group-item d-flex justify-content-between align-items-center rounded border">
                {{collab.user.username}}
                {% if board.author_id == user.id %}
                <a href="{{url_for('delete_collaborator', board_id=board.id, collaborator_id=collab.user_id)}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-x-square-fill text-primary" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"></path>
                    </svg>
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}
