{% extends 'base.html' %}
{% block title %}Редактирование задания{% endblock %}
{% block header %}
<h1>Редактирование задания</h1>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages(request) %}
<div class="{{ message.category }}" role="alert">{{ message.message }}</div>
{% endfor %}

<style>
    .btn-circle {
        width: 38px;
        height: 38px;
        border-radius: 19px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
</style>

<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <h5>Автор: {{task.author.username}}</h5>
        <h5>Дата создания: {{task.date_created}}</h5>
    </div>
</div>

<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <form action="{{ url_for('edit_task', id=task.id) }}" role="form" class="form-horizontal" method="POST">
            <div class="mb-3">
                <label for="text" class="form-label">Задание</label>
                <input type="text" class="form-control" id="text" name="text" value="{{ task.text }}" required>
            </div>
            <div class="mb-3">
                <label for="tag" class="form-label">Тэг</label>
                <input type="text" class="form-control" id="tag" name="tag" placeholder="Тэг" value="{{task.tag.text}}">

            </div>

            <div class="mb-3">
                <div class="form-group">
                    <label for="deadline">Дедлайн:</label>
                    <input type="date" class="form-control" id="deadline" name="deadline" value={{task.date_deadline}}>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Отредактировать</button>
        </form>
    </div>
</div>

<a href="{{url_for('view_board', id=task.board.id)}}">
    <button type="submit"
            class="btn btn-circle btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </button>
</a>
{% endblock %}
