{% extends 'base.html' %}
{% block title %}Подписаться на обновления{% endblock %}
{% block header %}
<h1>Подписаться на обновления</h1>
{% endblock %}

{% block content %}

<div class="card border-primary mb-3" style="width: 22rem;">
    <div class="card-body">
        <form action="{{ url_for('subscribe_on_events') }}" role="form" class="form-horizontal" method="POST">
            <p>Для того, чтобы подписаться на обновления, введите свой Telegram id (узнать <a
                    href="https://t.me/getmyid_bot">здесь</a>), затем перейдите в <a
                    href="https://t.me/trello_updates_bot">бота</a> и начните
                общение с ним</p>
            <div class="mb-3">
                <label for="tg_id" class="form-label">Telegram id</label>
                <input type="text" class="form-control" id="tg_id" name="tg_id" value="{{tg_user.tg_id}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Подписаться</button>
            <hr>
            <a href="{{url_for('unsubscribe_from_events')}}">
                <input class="btn btn-primary" value="Отписаться" style="width: 7.5rem">
            </a>
        </form>
        <hr>
        <div class="card border-primary mb-3">
            <div class="card-body">
                {% if is_subscribed %}
                <h4>Вы подписаны</h4>
                {% else %}
                <h4>Вы не подписаны</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
