{% extends 'base.html' %}
{% block title %}Просмотр досок{% endblock %}
{% block header %}
<h1>Просмотр доски</h1>
{% endblock %}

{% block head %}
<style>
    .btn-circle {
        width: 38px;
        height: 38px;
        border-radius: 19px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
</style>


{% endblock %}

{% block content %}

{% for message in get_flashed_messages(request) %}
<div class="{{ message.category }}" role="alert">{{ message.message }}</div>
{% endfor %}
<div class="card text-center" style="width: 100%;">
    <div class="card-body">

        <h1><a href="{{url_for('edit_board', board_id=board.id)}}" class="text-decoration-none text-reset">{{ board.name
            }}</a></h1>
        <h5 class="text-secondary">{{ board.theme.name }}</h5>

        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-horizontal overflow-auto" style="padding-bottom: 20px">
                    {% for col in board.b_columns %}
                    <li class="list-group-item rounded border border-{{ col.color.value }} bcolumn"
                        style="width: 20rem;"
                        ondragover="onDragOver(event);" ondrop="onDrop(event);">

                        <div class="fs-2 mb-3 text-wrap text-{{ col.color.value }} not-drop"
                             style="width: 18rem;">
                            <a href="{{url_for('edit_column', column_id=col.id)}}" class="text-decoration-none text-reset">{{ col.name }}</a>
                            {% if can_delete %}
                            <a href="{{ url_for('delete_column', column_id=col.id) }}" class="not-drop">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-x-square-fill text-{{ col.color.value }} not-drop"
                                     viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                                          class="not-drop"></path>
                                </svg>
                            </a>
                            {% endif %}
                        </div>

                        <ul class="list-group list-group-flush tasks__list">
                            <div class="bcolumn-tasks" id="bcolumn-{{col.id}}">
                                {% for task in col.tasks %}

                                <li class="tasks__item list-group-item d-flex justify-content-between align-items-center rounded border border-{{ col.color.value }}"
                                    {% if can_delete %}
                                    draggable="true"
                                    {% endif %}
                                    ondragstart="onDragStart(event);"
                                    ondragend="onDragEnd(event);"
                                    id="task-{{task.id}}">

                                    <div draggable="false" class="text-wrap" style="width: 15rem;cursor: move;"><a
                                            draggable="false"
                                            href="{{ url_for('edit_task', id=task.id) }}"
                                            class="text-decoration-none text-reset">
                                        {{ task.text }}
                                        <span class="badge rounded-pill bg-{{ col.color.value }} offset-md-1">{{ task.tag.text }}</span>
                                    </a>
                                    </div>

                                    {% if can_delete %}
                                    <a href="{{ url_for('delete_task', task_id=task.id) }}">
                                        <button type="button" class="btn-close not-drop" aria-label="Close"></button>
                                    </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </div>
                            {% if can_delete %}
                            <li class="form-for-task list-group-item d-flex justify-content-between align-items-center rounded border border-{{ col.color.value }}">

                                <form class="form-for-task"
                                      action="{{ url_for('add_task', board_id=board.id, column_id=col.id) }}"
                                      method="post">

                                    <div class="input-group">
                                        <label for="text"></label>
                                        <input type="text"
                                               class="form-control rounded-left border border-{{ col.color.value }}"
                                               placeholder="Новая задача"
                                               id="text"
                                               name="text">
                                        <button type="submit"
                                                class="btn rounded-right btn-outline-{{ col.color.value }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-plus-circle"
                                                 viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                                                      class="not-drop"></path>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                                                      class="not-drop"></path>
                                            </svg>
                                        </button>
                                    </div>

                                </form>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endfor %}


                    {% if can_delete %}
                    <li class="list-group-item">

                        <div class="card-body " style="width: 18rem;">
                            <h5 class="card-title">Добавить новую колонку</h5>
                            <p class="card-text">Здесь вы можете добавить новую колонку в вашу доску</p>
                            <form action="{{ url_for('add_column', id=board.id) }}" method="post">
                                <label for="name">Название</label>
                                <input type="text" name="name" id="name" class="form-control rounded-left">
                                <label for="color_id">Цвет</label>
                                <select class="form-control form-control-sm" id="color_id" name="color_id">
                                    {% for color in colors %}
                                    <option value={{ color.id }}>{{ color.description }}</option>
                                    {% endfor %}
                                </select>
                                <input type="submit" class="btn btn-primary" value="Создать">
                            </form>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% if can_delete %}
<a href="{{url_for('add_collaborator', board_id=board.id)}}">
    <button class="btn btn-primary"
            style="margin-top: 10px; margin-right: 10px">Участники доски
    </button>
</a>
<a href="{{url_for('import_board', board_id=board.id)}}">
    <input type="submit" class="btn btn-primary" value="Импорт/экспорт данных"
           style="margin-top: 10px; margin-left: 10px">
</a>
{% endif %}


<script>
    // функция, которая вызывается при событии "навели взятый объект на другой объект"
    function onDragOver(event) {
        event.preventDefault();
    }

    // функция которая вызывается при событии "начало перетаскивания"
    function onDragStart(event) {
        event.target.classList.add(`selected`);
    }

    // функция которая вызывается при событии "конец перетаскивания"
    function onDragEnd(event) {
        event.target.classList.remove(`selected`);
    }

    // функция которая вызывается при отпускании объекта. Проверка на возможность бросить задачу в объект
    function onDrop(event) {
        const activeElement = document.querySelector(`.selected`);
        const draggableElement = document.getElementById(activeElement.id);
        console.log(draggableElement.id);
        let dropzone = event.target;

        if (dropzone.classList.contains('bcolumn')) {
            dropzone = dropzone.querySelector(`.bcolumn-tasks`);
        }

        if (dropzone.classList.contains('rounded-right') || dropzone.classList.contains('bi')
            || dropzone.classList.contains('rounded-right') || dropzone.classList.contains('form-control')
            || dropzone.classList.contains('input-group') || dropzone.classList.contains('form-for-task')
            || dropzone.classList.contains('form-for-task') || dropzone.classList.contains('not-drop')) {
            return;
        }

        if (dropzone.classList.contains('btn-close')) {
            dropzone = dropzone.parentElement.parentElement;
        }

        if (dropzone.classList.contains('text-reset')) {
            dropzone = dropzone.parentElement;
        }

        if (dropzone.classList.contains('text-wrap')) {
            dropzone = dropzone.parentElement;
        }

        if (dropzone.classList.contains('tasks__item')) {
            dropzone = dropzone.parentElement;
        }

        dropzone.appendChild(activeElement);

        sendMessage(event, activeElement.id, dropzone.id);
    }

    // Создание объекта веб-сокета
    var ws = new WebSocket("ws://localhost:8000/ws");

    // Функция для отправки сообщений по веб-сокету
    function sendMessage(event, task_id, col_id) {
        ws.send(task_id + " " + col_id);
        event.preventDefault()
    }
</script>
{% endblock %}
